<!DOCTYPE html>
<html>
<head>
    <title>Ticket</title>
    <style>
        body { font-family: Arial; text-align:center; }
        .ticket {
            border: 1px dashed black;
            width: 300px;
            margin: auto;
            padding: 20px;
        }
    </style>
</head>

<body>

<div class="ticket">

    <h2>🧾 MINI MARKET</h2>
    <hr>

    <p>Producto: {{producto.nombre}}</p>
    <p>Cantidad: {{cantidad}}</p>
    <p>Total: S/ {{total}}</p>

    <hr>

    <p>Gracias por su compra</p>

</div>

<br>

<a href="/">Volver</a>

</body>
</html>